Package: ph.playpass.bhttr
Name: BHTTR
Version: 1.6
Architecture: iphoneos-arm
Description: An awesome TikTok tweak.
Maintainer: Neil Bayron (pisknk)
Author: Neil Bayron (pisknk)
Section: Tweaks
Depends: mobilesubstrate
